body{
    margin: 0px;
    padding: 0px;
    font-family: '微软雅黑';
}

.header{
    width: 100%;
    height: 72px;
    position: relative;
}


.login{
    width: 140px;
    height: 72px;
    margin-left: 20px;
    position: absolute;
}

.login>img{
    width: 180px;
    height: 100%;
}

.nav{
    display: list-item;
    height: 72px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 8px;
    left: 140px;
}

.nav>li{
    list-style: none;
    padding: 0 20px;
    display: block;
    font-size: 16px;
    height: 72px;
    position: relative;
}

.nav>li>a{
    text-decoration: none;
    color: rgb(100, 98, 98);
    font-size: 16px;
}

.nav>li>a:hover{
    color: black;
}

.search{
    position: absolute;
    width: 320px;
    height: 72px;
    left: 715px;
    float: left;
    margin-top: 16px;
}

.search>.search-2{
    width: 324px;
    height: 39px;
    border-radius: 8px;
    border: none;
    background:  rgb(243, 240, 240);
    display: flex;
    align-items: center;
   justify-content: center;
   margin-left: 1px;
}

.search>.search-2>input{
    width: 305px;
    height: 22px;
    border: none;
    outline: none;
    background:  rgb(243, 240, 240);
    position: absolute;
    font-size: 14px;
    padding: 8px 4px;
    margin-left: 3px;
}
.search-2>::-webkit-input-placeholder{
    color: rgb(170, 167, 167)
}

.show0{
    width: 36px;
    height: 23px;
    background: white;
    position: absolute;
    margin-left: 35px;
    border-radius: 12px;
    text-align: center;
    margin-top: 1px;
    margin-left: 3px;
    margin-left: 40px;
}
.show0>a{
    display: block;
    line-height: 23px;
}

.show1{
    width: 54px;
    height: 23px;
    background: white;
    position: absolute;
    margin-left: 94px;
    border-radius: 12px;
    text-align: center;

}
.show1>a{
    display: block;
    line-height: 23px;
}
.show2{
    width:20px;
    height: 24px;
    position: absolute;
    margin-left: 143px;
    text-align: center;
    margin-top: 3px;
}

.show0>a,.show1>a{
    text-decoration: none;
    font-size: 12.5px;
    color: rgb(110, 106, 106);
}

.header-right{
    width: 315.97px;
    height: 72px;
    position: relative;
    margin-right: 43px;
    float: right;
}
.h-right{
    width: 100%;
    height: 100%;
}
.h-right>li{
    list-style: none;
    float: left;
}
#navN{
    position: absolute;
    margin-top: -10px;
}
.header-right>ul>li>a{
    text-decoration: none;
    color:gray;
    font-size: 14px;
}
.h-rightr{
    display: block;
    height: 34px;
    border: 1px solid  #d4d6d8;
    padding: 0 18px;
    border-radius: 18px;
    margin-top: -5px;
    margin-left: -1px;
}
.h-rightr>#ggg{
    margin-left: 24px;
    line-height: 34px;
}
.h-rightr>img{
    position: absolute;
}
.h-rightr>img:nth-child(2) {
    display: none;
}
#fan{
    color: rgb(218, 216, 216);
}
.h-right>li{
    margin-top: 7px;
}
.h-right>li:nth-child(1){
    margin-left: 8px;
}
.h-right>li:nth-child(2){
    margin-left: 16px;
}
.h-right>li:nth-child(3){
    margin-left: 24px;
}
.h-right>li:nth-child(4){
    margin-left: 15px;
}
.h-right>li:nth-child(5){
    margin-left: 14.5px;
}

#rrr{
    margin-left: 8px;
}
.h-right>li>a:hover{
    color: red;
}

.app-download{
    display: none;
    position: absolute;
    width: 250px;
    padding: 10px 24px 22px;
    background-color: #fff;
    z-index: 3;
    margin-left: -233px;
    margin-top: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.app-download>p{
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
}
.down-r{
    width: 130px;
    margin-left: 132px;
    margin-top: -126px;
}

.app:hover .app-download{
    display: block;
}
.down-r>a:nth-child(1),.down-r>a:nth-child(2){
    display:block;
    background: #4D555D;
    font-size: 14px;
    color: whitesmoke;
    width: 132px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    border-radius: 18px;
    margin-top: 10px;
    text-decoration: none;
}
.down-r>a:hover{
    background: rgb(42, 46, 49);
}
.down-r>p{
    font-size: 12px;
    text-align: center;
}

.h-rightr:hover .sss{
    display: none;
}
.h-rightr:hover .www{
    display: block;
}

.down{
    display: none;
    position: absolute;
    width: 340px;
    height: 420px;
    margin-left: -235px;
    background: #fff;
    z-index: 3;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.down_h{
    width: 100%;
    height: 50px;
}
.down_h>b{
    display: block;
    font-size: 14px;
    color: black;
    margin-top: 30px;
    margin-left: 20px;
}
.down_h>span{
    display: block;
    font-size: 12px;
    margin-top: -20px;
    margin-left: 230px;
    color: gray;
}
.down>hr{
    width: 90%;
    margin-top: -10px;
    height: 1px;
    border: none;
    background: rgb(211, 206, 206);
}
.zzz>p:nth-child(1){
    font-size: 14px;
    text-align: center;
    color: rgb(68, 66, 66);
}
.zzz>p:nth-child(2){
    font-size: 12px;
    text-align: center;
    color: gray;
    margin-top: -10px;
}
.zzz>p>a{
    text-decoration: none;
    display: block;
    color: rgb(241, 103, 103);
    font-size: 12px;
    text-align: center;
}
.zzz>p>a:hover{
    color: red;
}
.down>a{
    display: block;
    margin-top: 20px;
    font-size: 13px;
    color: gray;
    margin-left: 20px;
    text-decoration: none;
}
.down>a:hover{
    color: rgb(66, 64, 64);
}
#hhh{
    margin-top: 60px;
}
.yyy{
    width: 90px;
    height: 30px;
    background: rgb(255, 73, 73);
    border-radius: 15px;
    margin-top: -20px;
    margin-left: 220px;
}
.yyy>a{
    display: block;
    text-align: center;
    font-size: 12px;
    color: whitesmoke;
    text-decoration: none;
    line-height: 30px;
}
.yyy:hover{
    background: rgb(246, 12, 12);
}
.gwc:hover .down{
    display: block;
}
.LBT{
    position: relative;
    width:100%;
    height: 500px;
    margin-bottom: 44px;
    background-image: linear-gradient(rgb(219, 219, 245),white);
}

.all{
    top: 33px;
    width: 1152px;
    height: 382px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px gray;
}

.all_left{
    width: 216px;
    height: 382px;
    background: #2b333b;

    position: absolute;
}

.all_left>ul{
    margin-left: -22px;

}
.all_left>ul>li{
    list-style: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.all_left>ul>li>a{
    display: block ;
    width: 200px;
    height: 100%;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(173, 168, 168);
    font-size: 14px;
}
.all_left>ul>li>a:hover{
    color: rgb(250, 249, 248);
}

.all_left>ul>li:hover{
    background: gray;
}

.all_left>ul>li>div{
    border: 4px solid gray;
    border-color: transparent transparent transparent  rgb(218, 213, 213);
    margin-top: -28px;
    margin-left: 180px;
    border-left-color: rgb(173, 168, 168);
}

.all_right{
    width: 936px;
    height: 382px;
    position: relative;
    margin-left: 216px;
}
.all_right>ul{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    margin-left: -40px;
}
.all_right>ul>li{
    display: none;
    position: absolute;
    width: 936px;
    height: 382px;
    list-style:none;
}
.all_right>ul>li>a>img{
    width: 100%;
    height: 100%;
}
.all_right>ul>.show{
    display: block;
}

.cli{
    position: absolute;
    width: 115px;
    height: 20px;
    margin-top: -68px;
    right: 50px;
    cursor: pointer;
}
.cli>ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cli>ul>li{
    list-style: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(243, 242, 241,0.8);
}
.cli>ul>.cli-show{
    width: 20px;
    border-radius: 50px;
}

.lun-left,.lun-right{
width: 50px;
height: 50px;
background: rgba(0, 0, 0,0.1);
position: absolute;
margin-top: -230px;
text-align: center;
line-height: 50px;
border-radius: 50%;
font-size: 25px;
color: rgb(207, 199, 187);
font-weight: bold;
cursor: pointer;
user-select: none;
z-index: 1;
}
.lun-left{
    margin-left: 20px;
}
.lun-right{
    right: 20px;
}

.lun-left:hover{
    background: rgba(0, 0, 0,0.5);
}
.lun-right:hover{
    background: rgba(0, 0, 0,0.5);
}


.content0{
    position: relative;
    width: 1152px;
    height: 180px;
    margin: auto;
    margin-top: -90px;
}

.content1>h3>span:nth-child(1),.content0>h3>span:nth-child(1){
    font-size: 24px;
    line-height: 32px;
}
.content1>h3>span:nth-child(2),.content0>h3>span:nth-child(2){
    position: absolute;
    font-size: 14px;
    font-weight:normal;
    margin-left: 16px;
    margin-top: 6px;
    color: rgb(92, 88, 88);
}

.content0>.select{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.content0>.select>a{
    display: block;
    width: 216px;
    height: 80px;
    text-decoration: none;
    background: rgb(235, 231, 231);
    border-radius: 6px;
    transition: all .3s;
}
.content0>.select>a>img{
    width: 50px;
    height: 50px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 2px;
}
.content0>.select>a>.first{
    font-size: 16px;
    color: black;
    font-weight: bold;
    margin-top: -50px;
    margin-left: 70px;
}
.content0>.select>a:hover{
    box-shadow: 2px 3px 15px rgb(206, 200, 200);
}
.content0>.select>a>.second{
    font-size: 12px;
    color: black;
    margin-top: -12px;
    margin-left: 70px;
}

.content1{
    position: relative;
    width: 1152px;
    height: 190px;
    margin: auto;
}
.content1>div{
    width: 1152px;
    height: 90px;
}
.content1>div>a:nth-child(2){
    margin-left: 15px;
}

.all2{
    width: 100%;
    height: 690px;
    background: rgb(248, 246, 246);
}
.all2_1{
    width: 100%;
    height: 20px;
}
.content2{
    width: 1152px;
    height: 690px;
    margin: auto;
}
.content2>h3{
    font-size: 24px;
}
.content2_bottom{
    width: 1176px;
    height: 560px;
    margin-left: -24px;
    margin-top: 25px;
}
#con2{
    display: none;
}
.bottom0{
    width: 270px;
    height: 272px;
    float: left;
    margin-left: 22px;
    margin-top: 8px;
    color: black;
    text-decoration: none;
}
.bottom0>img{
    border-radius: 8px;
}
.bottom0:hover .bottom1>h3{
    color: red;
}
.bottom1>h3{
    height: 50px;
    font-size: 16px;
}

.bottom1>p{
    font-size: 12px;
    margin-top: -15px;
    color: gray;
}
.bottom1>p>img{
    margin-left: 10px;
}
.bottom1>p>span:nth-child(3){
    margin-left: 120px;
}
.bottom1>div{
    margin-top: -13px;
    font-size: 12px;
}
.bottom_red{
    color: red;
}
.bottom_gray{
    color: gray;
}
.bottom_red>.xianshi{
    width: 50px;
    height: 18px;
    background: rgb(253, 230, 242);
    border-radius: 2px;
    margin-left: 55px;
    margin-top: -18px;
}
#daojishi{
    width: 110px;
    height: 18px;
    background: rgb(253, 230, 242);
    border-radius: 2px;
    margin-left: 105px;
    margin-top: -18px;
}


.content3{
    width: 1152px;
    margin: auto;
}

.content3>h3>span{
    font-size: 24px;
}
.content3>h3>ul{
    width: 576px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    margin-left: 60px;
    margin-top: -30px;
}
.content3>h3>ul>li{
    list-style: none;
    height: 25px;
}
.content3>h3>ul>#default{
    color: red;
    border-block-end: 2px solid red;
}
.content3>h3>ul>li{
    color: gray;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    cursor: pointer;
}
.content3>h3>ul>li:hover{
    color: red;
}
.content3>h3>a{
    display: block;
    color: black;
    font-size: 14px;
    text-decoration: none;
    font-weight: normal;
    margin-top: -50px;
    margin-left: 1050px;
}
.content3_bottom0,.content3_bottom1,.content3_bottom2{
    width: 1176px;
    height: 516px;
    margin-left: -22px;
}
.content3_b1{
    width: 564px;
    height: 148px;
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    text-decoration: none;
}
.IMG{
    width: 140px;
    height: 140px;
}
.IMG>img{
    position: absolute;
    border-radius: 8px;
    transition: all 0.3s;
}
.IMG>img:nth-child(2){
    width: 130px;
    margin-top: 14px;
    margin-left: 5px;
    opacity: 0.5;
    z-index: -1;
}
.IMG>img:nth-child(3){
    width: 120px;
    margin-top: 27px;
    margin-left: 10px;
    opacity: 0.5;
    z-index: -2;
}
.IMG:hover #image1{
    margin-top: -5px;
}
.IMG:hover #image2{
    margin-top:  11px;
}
.IMG:hover #image3{
    margin-top: 26px;
}
.content3_b2{
    width: 400px;
    height: 140px;
    margin-left: 160px;
    margin-top: -160px;
}
.content3_b2>h4{
    color: black;
}
.content3_b1:hover .content3_b2>h4{
    color: red;
}
.content3_b2>p{
    font-size: 14px;
    color: gray;
    margin-top: -10px;
}
.content3_b3{
    width: 100%;
    height: 15px;
    margin-top: 20px;
}
.content3_b3>span{
    font-size: 12px;
    color: gray;
}
.content3_b3>span:nth-child(2){
    margin-left: 25px;
}

.content3_bottom3{
    width: 1176px;
    height: 364px;
    margin-left: -22px;
}
.content3_bottom4,.content3_bottom5,.content3_bottom6,.content3_bottom7{
    width: 1176px;
    height: 214px;
    margin-left: -22px;
}
#default_b{
    display: block;
}
.content3_bottom0,.content3_bottom1,.content3_bottom2,.content3_bottom3,.content3_bottom4,.content3_bottom5,.content3_bottom6,.content3_bottom7{
    display:none;
}

.content4{
    width: 100%;
    background: rgb(251, 250, 250);
}

#quest{
    display: block;
    margin-left: 100px;
    margin-top: -35px;
}
.quest_show{
    position: absolute;
    width: 270px;
    height: 210px;
    background:rgb(255, 255, 254);
    border-radius: 15px;
    box-shadow: 0px 0px 10px gray;
    display: none;
}
.quest_s{
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.quest_h{
    width: 80%;
    border: none;
    height: 1px;
    background-color: rgb(207, 202, 202);
}
.ccc{
    margin-left: 180px;
    margin-top: -50px;
}
.ccc>a{
    text-decoration: none;
    color: rgb(71, 70, 70);
    font-size: 14px;
    display: block;
    width: 56px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
}
.ccc>a:hover{
    color: red;
}
#cc2{
    color: red;    border-block-end: 2px solid red;
}
.ccc>a:nth-child(2){
    margin-left: 90px;
    margin-top: -27px;
}
.ccc>a>img{
    position: absolute;
    margin-top: -20px;
    margin-left: 690px;
    display: none;
}

.content5{
    width: 100%;
    height: 560px;
}
.content5_all{
    width: 1152px;
    height: 560px;
    margin: auto;
}
.content5_all>h3{
    font-size: 24px;
}
.content5_bottom{
    width: 100%;
    height: 468px;

}
.content5_b{
    width: 368px;
    height: 210px;
    border-radius: 10px;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    transition: all 0.3s;
}
.content5_b:hover{
    box-shadow: 0px 2px 3px rgb(199, 199, 199);
}
.content5_b>a>img{
    margin-top: 20px;
    margin-left: 20px;
}
.content5_b>.content5_r{
    width: 220px;
    height: 100px;
    margin-left: 125px;
    margin-top: -120px;
}
.content5_r>a{
    text-decoration: none;
    color: black;
}
.content5_r>a>h4{
    font-size: 16px;
    margin-top: -5px;
}
.content5_r>a>h4:hover{
    color: rgb(79, 104, 248);
}
.content5_r>hr{
    height: 1px;
    border: none;
    background-color: rgb(197, 194, 194);
}
.content5_r>p{
    font-size: 12px;
    color: gray
}
.content5_r>a>b,.content5_r>a>span{
    font-size: 12px;
}
.content5_r>a>b:hover,.content5_r>a>span:hover{
    color: red;
}
.shidu{
    width: 28px;
    height: 18px;
    background: rgb(241, 239, 239);
    margin-top: 30px;
    margin-left: 25px;
    border-radius: 2px;

}
.shidu>a{
    display: block;
    color: rgb(74, 131, 206);
    text-decoration: none;
    font-size: 10px;
}
.jiage{
    position: absolute;
    margin-left: 122px;
    margin-top: -23px;
}
.jiage>a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(79, 104, 248);
}
.xianshi{
    position: absolute;
    font-size: 12px;
    margin-left: 200px;
    margin-top: -18px;
    text-decoration: none;
}
.xianshi>span{
    color: gray;
    text-decoration: line-through;
}
.xianshi>div{
    width: 50px;
    height: 15px;
    background: rgb(191, 198, 235);
    margin-left: 75px;
    margin-top: -18px;
}

.footer{
    width: 100%;
    height: 133px;
    background:rgb(238, 236, 236);
}
.footer_t{
    width: 100%;
    height: 40px;
}
.footer_all{
    width: 1152px;
    height: 61px;
    margin: auto;
}
.footer_link{
    width: 700px;
    height: 28px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-left: 25px;
}
.footer_link>a{
    text-decoration: none;
    color: gray;
}
.footer_link>a:hover{
    color: black;
}
.footer_all>p{
    font-size: 12px;
    color: gray;
    margin-left: 30px;
}
.footerall{
    display: none;
    position: absolute;
    width: 150px;
    height: 200px;
    overflow: hidden;
    margin-top: -280px;
    margin-left: 900px;
    background-image: url(./image/footerall.jpg);
    background-position: -10px 0px;
}
.footer_b{
    width: 70px;
    height: 60px;
    margin-top: -70px;
    margin-left:950px;
}
.footer_c{
    width: 70px;
    height: 60px;
    margin-top: -60px;
    margin-left:1050px;
}
.footer_b>a>img,.footer_c>a>img{
    border-radius: 50%;
}
.footer_b>p,.footer_c>p{
    margin-top: -2px;
    margin-left: -10px;
    font-size: 10px;
}
.toright{
    position: fixed;
    width: 58px;
    height: 341px;
    box-shadow: 0px 2px 5px rgb(190, 190, 190);
    right: 0px;
    top: 350px;
    background: rgb(255, 255, 255);
}
.toright>hr{
    width: 40%;
    background-color: rgb(182, 179, 179);
    height: 1px;
    border: 0px;
}
.toright>a>.str{
    display: none;
}
.toright>a>.str{
    width: 35px;
    height: 40px;
    font-size: 14px;
    margin:auto;
    margin-top: 15px;
}
.toright>a{
    text-decoration: none;
    color: black;
}

.YCLB{
    display: none;
    position: absolute;
    width: 768px;
    height: 382px;
    background: white;
    margin-top: -3530px;
    margin-left: 593px;
    z-index: 4;
}
.Yheader{
    width: 685px;
    height: 210px;
    margin-left: 33px;
}
.Yheader>ul{
    margin-left: -52px;
    margin-top: -20px;
}
.Yheader>ul>li{
    list-style: none;
    float: left;
    padding: 8px 12px;
}
.Yheader>ul>li>a{
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.Yheader>ul>li>a:hover{
    color: red;
}

.Ybottom{
    background: rgb(242, 243, 243);
    width: 100%;
    height: 172px;
    margin-top: -22px;
}
.YBC{
    display: block;
    width: 350px;
    height: 80px;
    float: left;
    margin-left: 22px;
    margin-top: 6px;
    text-decoration: none;
}
.YBC>img{
    width: 70px;
    height: 52px;
    border-radius: 4px;
    background: #ccc;
    margin-left: 10px;
}
.YBC>#p1{
    font-size: 12px;
    margin-top: -55px;
    color: black;
    margin-left: 100px;
}
.YBC>#p2{
    font-size: 12px;
    margin-top: 10px;
    margin-left: 100px;
    color: gray;
}
#er{
    margin-top: 80px;
}
#liu{
    margin-top: 110px;
}
.Ybottom2{
    background: rgb(242, 243, 243);
    width: 100%;
    height: 80px;
    margin-top: 70px;
}